.app{
    .link{
        text-decoration: none;
        color: inherit;
    }

    .layout{
        display: flex;
    }

    .page{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #fbfbfb;
        overflow-y: scroll;
        overflow-x: hidden;
        
        &::-webkit-scrollbar {
            width: 15px;               /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-thumb {
            background-color: #585858;    /* color of the scroll thumb */
            border-radius: 10px;       /* roundness of the scroll thumb */
        }
    }
}